.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include responsive-padding($padding-mobile, $padding-tablet, $padding-desktop, $padding-large);

    &__logo {
        @include responsive-width($logo-width-mobile, $logo-width-tablet, $logo-width-desktop, $logo-width-large);
    }

    &__title {
        @include responsive-font-size($title-font-size-mobile, $title-font-size-tablet, $title-font-size-desktop, $title-font-size-large);
        margin: 32px 0 8px 0;
        font-weight: 800;
        width: 100vw;
    }

    &__subtitle {
        @include responsive-font-size($subtitle-font-size-mobile, $subtitle-font-size-tablet, $subtitle-font-size-desktop, $subtitle-font-size-large);
        margin-bottom: 32px;
        color: $secondary;
    }

    .btn--default {
        @include button-styles(14px 34px, $primary);

        @media (min-width: 480px) {
            @include button-styles(16px 40px, $primary);
        }
    }
}