$primary: #69B42E;
$secondary: #666666;
$background: #1A1A1A;
$font-stack: 'Roboto', sans-serif;



//header
$padding-mobile: 40px 32px 14vw 32px;
$padding-tablet: 49px 32px 14vw 32px;
$padding-desktop: 86px 64px 11vw 64px;
$padding-large: 104px 64px 11vw 64px;

$logo-width-mobile: 170px;
$logo-width-tablet: 268px;
$logo-width-desktop: 268px;
$logo-width-large: 268px;

$title-font-size-mobile: 20px;
$title-font-size-tablet: 32px;
$title-font-size-desktop: 48px;
$title-font-size-large: 86px;

$subtitle-font-size-mobile: 16px;
$subtitle-font-size-tablet: 24px;
$subtitle-font-size-desktop: 24px;
$subtitle-font-size-large: 40px;